<% if logged_in? %>
<div class="line">
  <div class="inline">
    <div class="building">building<br>道<br>開拓地<br>都市<br>
    <%= current_user.name %></div>
    <div class="trade">貿易関係</div>
  </div>
  <canvas id="map" width="500" height="500"></canvas>
  <div class="chat">
    <form>
    <input type="text" id="msg">
    <input type="button" id="btn" value= "送信">
    </form>
  <div id="msg_view"><%= current_user.name %>:</div>
  </div>
</div>

<div class="info-wrap">
  <div class="info1">info1</div>
  <div class="info2">info2</div>
  <div class="info3">info3</div>
  <div class="info4">info4</div>
</div>
<% else %>

<h1>Login Faild!</h1>
<%= link_to "Retry_Login", login_url %>
<% end %>