<div class="line">

  <div class="inline">
    <div class="building">building<br>道<br>開拓地<br>都市</div>
    <div class="trade">貿易関係</div>
  </div>

  <canvas id="map" width="500" height="500"></canvas>
  <div class="chat">
    <div class="hoge" style="background-color:#ffff00;">ここに投稿欄を付ける</div>
    <div class="entry">nameさん : 直近1番目のチャット</div>
    <div class="entry">nameさん : 直近2番目のチャット</div>
    <div class="entry">nameさん : 直近3番目のチャット</div>
    <div class="entry">nameさん : 直近4番目のチャット</div>
    <div class="entry">nameさん : 直近5番目のチャット</div>
    <div class="entry">nameさん : 直近6番目のチャット</div>
    <div class="entry">nameさん : 直近7番目のチャット</div>
    <div class="entry">nameさん : 直近8番目のチャット</div>
    <div class="entry">nameさん : 直近9番目のチャット</div>
    <div class="entry">nameさん : 直近10番目のチャット</div>
    <div class="entry">nameさん : 直近11番目のチャット</div>
    <div class="entry">nameさん : 直近12番目のチャット</div>
    <div class="entry">nameさん : 直近13番目のチャット</div>
    <div class="entry">nameさん : 直近14番目のチャット</div>
    <div class="entry">nameさん : 直近15番目のチャット</div>
    <div class="entry">nameさん : 直近16番目のチャット</div>
    <div class="entry">nameさん : 直近17番目のチャット</div>
    <div class="entry">nameさん : 直近18番目のチャット</div>
    <div class="entry">nameさん : 直近19番目のチャット</div>
    <div class="entry">nameさん : 直近20番目のチャット</div>
  </div>

</div>

<div class="info-wrap">
  <div class="info1">info1</div>
  <div class="info2">info2</div>
  <div class="info3">info3</div>
  <div class="info4">info4</div>
</div>
