<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>○×ゲーム</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<%= javascript_include_tag(:all) %>
		<link href="maru_batu.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<h1 class = "title">○×ゲーム</h1>
		<p class = "1p">１Pのターンです。</p>
		<p style="display: none" class = "2p">２Pのターンです。</p>
		<div class = "f1"></div>
		<div class = "f2"></div>
		<div class = "f3"></div>
		<div class = "f4"></div>
		<div class = "f5"></div>
		<div class = "f6"></div>
		<div class = "f7"></div>
		<div class = "f8"></div>
		<div class = "f9"></div>
		<div class = "elipse"></div>
		</body>
</html>
