<form>
  <input type="text" id="msg">
  <input type="submit">
</form>

<ul id="msg_view"></ul>

<script type="text/javascript" charset="utf-8">
  $(function () {
    var ws = new WebSocketRails("localhost:3000/websocket");
    $("form").on("submit", function (e) {
      ws.trigger("chat", $("#msg").val());
      e.preventDefault();
    });

    ws.bind("chat_receive", function (data) {
      $("#msg_view").append("<li>" + data + "</li>")
    })
  })
</script>
